_documents
_private
_downloads
logs
_unusedVersions

__pycache__
models/_transformers
models/all-MiniLM-L12-v2
api.py
*.pkl
.venv
_venv
venv

## Local venv file (may contain sensitive info)
poetry.toml

